@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Avenir';
	src: url('/fonts/Avenir-Book.woff2');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Avenir';
	src: url('/fonts/Avenir-Medium.woff2');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Avenir';
	src: url('/fonts/Avenir-Black.woff2');
	font-weight: 700;
	font-style: normal;
}

html,
body {
	padding: 0;
	margin: 0;
	overflow: hidden;
	width: 100vw;
	height: 100%;
}

main,
#__next {
	height: 100%;
}

/* SCROLLBARS */

/* Works on Firefox */
* {
	scrollbar-width: thin;
	scrollbar-color: #defb2f #dcfb2f65;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 0.2rem;
}

*::-webkit-scrollbar-track {
	background: #dcfb2f65;
}

*::-webkit-scrollbar-thumb {
	background-color: #defb2f;
	border-radius: 0px;
	border: 0px;
}

/* POP-UP */

.popup {
	--size: 100px;

	background: linear-gradient(
				#5d2aeb var(--size),
				transparent 0 calc(100% - var(--size)),
				#5d2aeb 0
			)
			0 0 / 5px 100%,
		linear-gradient(
				#5d2aeb var(--size),
				transparent 0 calc(100% - var(--size)),
				#5d2aeb 0
			)
			100% 0 / 5px 100%,
		linear-gradient(
				to right,
				#5d2aeb var(--size),
				transparent 0 calc(100% - var(--size)),
				#5d2aeb 0
			)
			0 0 / 100% 5px,
		linear-gradient(
				to right,
				#5d2aeb var(--size),
				transparent 0 calc(100% - var(--size)),
				#5d2aeb 0
			)
			0 100% / 100% 5px;
	background-repeat: no-repeat;
	padding: 0.25rem;
}
